html
  head
    title= title
    link(type='text/css', rel='stylesheet', href='/css/main.css')
  body
    h1.title= message
    img(src='http://dailykitten.com/wp-content/uploads/2017/08/IMG_2734.jpg')